@mixin flex-mixin($justify, $flex-flow){
	display: flex;
	justify-content: $justify;
	flex-flow: $flex-flow;
}

@mixin column-items{
	border: 1px solid black;
	margin: 5px;
	padding: 10px;
	cursor: pointer;
}
@mixin btn-click {
	&:active, &:hover {
		border: 2px solid #696969;
		font-weight: bold;
	}
}

#app {
	width: 50%;
	margin: 0 auto;
	min-height: 400px;
	@include flex-mixin(space-between, row wrap)
	#Save, #Restore {
		@include column-items;
		@include btn-click;
	}
	.column {
		width: 25%;
		@include flex-mixin(space-between, column wrap);
		@include column-items;
	}
	#left, #right {
		@include flex-mixin(flex-start, column wrap)
		.item {
			@include column-items;
			@include btn-click;
		}
		.selected {
			border: 2px solid #696969;
			font-weight: bold;
		}
	}
	#left-button, #right-button {
		@include column-items;
		@include btn-click;
	}
	#left-button{
		text-align: right;
	}
}